<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Logistics</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link href="/static/assets/img/favicon.png" rel="icon">
  <link href="/static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="/static/assets/css/main.css" rel="stylesheet">

</head>

<body>
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <h1>Logistics</h1>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="index.html">Home</a></li>

          <li><a href="pricing.html" class="active">Pricing</a></li>
          <li><a href="status.html">Track Package</a></li>
          <li><a href="send_package.html">Send Package</a></li>
          <li><a class="get-a-quote" href="signUp.html">Login / Sign up</a></li>
        </ul>
      </nav>

    </div>
  </header>

  <main id="main">

    <div class="breadcrumbs">
      <div class="page-header d-flex align-items-center" style="background-image: url('/static/assets/img/page-header.jpg');">
        <div class="container position-relative">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-6 text-center">
              <h2>Pricing</h2>
              <p>Experience affordable and reliable logistics and delivery services. Choose the plan that suits your needs.</p>
            </div>
          </div>
        </div>
      </div>
      <nav>
        <div class="container">
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Pricing</li>
          </ol>
        </div>
      </nav>
    </div>

    <section id="pricing" class="pricing">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="pricing-item">
              <h3>Basic Plan</h3>
              <h4><sup>$</sup>9.99<span> / month</span></h4>
              <ul>
                <li><i class="bi bi-check"></i> Fast and secure delivery</li>
                <li><i class="bi bi-check"></i> Package tracking</li>
                <li><i class="bi bi-check"></i> Customer support</li>
                <li><i class="bi bi-check"></i> Limited insurance coverage</li>
                <li class="na"><i class="bi bi-x"></i> <span>Express delivery</span></li>
              </ul>
              <a href="#" class="buy-btn">Sign Up</a>
            </div>
          </div>
          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
            <div class="pricing-item featured">
              <h3>Standard Plan</h3>
              <h4><sup>$</sup>19.99<span> / month</span></h4>
              <ul>
                <li><i class="bi bi-check"></i> Fast and secure delivery</li>
                <li><i class="bi bi-check"></i> Package tracking</li>
                <li><i class="bi bi-check"></i> Customer support</li>
                <li><i class="bi bi-check"></i> Extended insurance coverage</li>
                <li><i class="bi bi-check"></i> Express delivery</li>
              </ul>
              <a href="#" class="buy-btn">Sign Up</a>
            </div>
          </div>

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
            <div class="pricing-item">
              <h3>Premium Plan</h3>
              <h4><sup>$</sup>29.99<span> / month</span></h4>
              <ul>
                <li><i class="bi bi-check"></i> Fast and secure delivery</li>
                <li><i class="bi bi-check"></i> Package tracking</li>
                <li><i class="bi bi-check"></i> Customer support</li>
                <li><i class="bi bi-check"></i> Comprehensive insurance coverage</li>
                <li><i class="bi bi-check"></i> Express delivery</li>
              </ul>
              <a href="#" class="buy-btn">Sign Up</a>
            </div>
          </div>

        </div>

      </div>
    </section>

    <section id="horizontal-pricing" class="horizontal-pricing pt-0">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <span>Horizontal Pricing</span>
          <h2>Horizontal Pricing</h2>

        </div>

        <div class="row gy-4 pricing-item" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-3 d-flex align-items-center justify-content-center">
            <h3>Basic Plan</h3>
          </div>
          <div class="col-lg-3 d-flex align-items-center justify-content-center">
            <h4><sup>$</sup>9.99<span> / month</span></h4>
          </div>
          <div class="col-lg-3 d-flex align-items-center justify-content-center">
            <ul>
              <li><i class="bi bi-check"></i> Fast and secure delivery</li>
              <li><i class="bi bi-check"></i> Limited insurance coverage</li>
              <li class="na"><i class="bi bi-x"></i> <span>Express delivery</span></li>
            </ul>
          </div>
          <div class="col-lg-3 d-flex align-items-center justify-content-center">
            <div class="text-center"><a href="#" class="buy-btn">Sign Up</a></div>
          </div>
        </div>

        <div class="row gy-4 pricing-item featured mt-4" data-aos="fade-up" data-aos-delay="200">
          <div class="col-lg-3 d-flex align-items-center justify-content-center">
            <h3>Standard Plan</h3>
          </div>
          <div class="col-lg-3 d-flex align-items-center justify-content-center">
            <h4><sup>$</sup>19.99<span> / month</span></h4>
          </div>
          <div class="col-lg-3 d-flex align-items-center justify-content-center">
            <ul>
              <li><i class="bi bi-check"></i> Fast and secure delivery</li>
              <li><i class="bi bi-check"></i> Extended insurance coverage</li>
              <li><i class="bi bi-check"></i> Express delivery</li>
            </ul>
          </div>
          <div class="col-lg-3 d-flex align-items-center justify-content-center">
            <div class="text-center"><a href="#" class="buy-btn">Sign Up</a></div>
          </div>
        </div>

        <div class="row gy-4 pricing-item mt-4" data-aos="fade-up" data-aos-delay="300">
          <div class="col-lg-3 d-flex align-items-center justify-content-center">
            <h3>Premium Plan</h3>
          </div>
          <div class="col-lg-3 d-flex align-items-center justify-content-center">
            <h4><sup>$</sup>29.99<span> / month</span></h4>
          </div>
          <div class="col-lg-3 d-flex align-items-center justify-content-center">
            <ul>
              <li><i class="bi bi-check"></i> Fast and secure delivery</li>
              <li><i class="bi bi-check"></i> Comprehensive insurance coverage</li>
              <li><i class="bi bi-check"></i> Express delivery</li>
            </ul>
          </div>
          <div class="col-lg-3 d-flex align-items-center justify-content-center">
            <div class="text-center"><a href="#" class="buy-btn">Sign Up</a></div>
          </div>
        </div>

      </div>
    </section>

  </main>

  <footer id="footer" class="footer">
    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="index.html" class="logo d-flex align-items-center">
            <span>Logis</span>
          </a>
          <p>At Logis, we provide efficient logistics and delivery services to ensure seamless transportation and storage of goods. Trust us with your logistics needs.</p>
          <div class="social-links d-flex mt-4">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
        <div class="col-lg-2 col-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Terms of Service</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><a href="#">Transportation</a></li>
            <li><a href="#">Warehousing</a></li>
            <li><a href="#">Supply Chain Management</a></li>
            <li><a href="#">Cargo Services</a></li>
            <li><a href="#">Packaging Solutions</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Us</h4>
          <p>
            123 Main Street <br>
            City, State 12345<br>
            United States <br><br>
            <strong>Phone:</strong> +1 555 12345<br>
            <strong>Email:</strong> info@logis.com<br>
          </p>
        </div>
      </div>
    </div>
    <div class="container mt-4">
      <div class="credits">
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer>

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/static/assets/vendor/aos/aos.js"></script>
  <script src="/static/assets/vendor/php-email-form/validate.js"></script>

  <script src="/static/assets/js/main.js"></script>

</body>

</html>
